<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column">
    <% if local_assigns[:back_btn] %>
      <li class="nav-item">
        <%= link_to 'Back', admin_dashboard_path, class: 'btn btn-ligh btn-block' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Overview', admin_dashboard_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Pages', admin_pages_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contacts', edit_contact_path(1), class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
</nav>