<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <% current_url = request.path_parameters[:page] %>
      <% Page.all.each do |item| %>
        <li class="nav-item">
          <%= link_to item.title, item.slug, class: "nav-link #{'active' if current_url === item.slug}" %>
        </li>
      <% end %>
    </ul>
  </nav>
  <h3 class="text-muted"><%= app_name %></h3>
</header>